:root {
  --color-primary: #008248;
  --color-secondary: #d50032;
  --color-white: #fff;
  --color-black: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Base style */
body {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  letter-spacing: 1px;
  overflow-x: hidden;
  line-height: 1.4;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

ul {
  list-style: none;
}

p {
  line-height: 1.7;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 50px;
  line-height: 1.2;
  font-weight: 100;
}

.btn-light {
  color: #000;
  background: var(--color-white);
  border: 1px solid rgb(155, 155, 155);
}
.btn-dark {
  background: var(--color-black);
  color: var(--color-white);
}

.btn-dark:hover {
  color: #333;
}

.btn-dark-outline {
  border-color: var(--color-black);
  color: var(--color-black);
}

.btn-dark-outline:hover {
  background-color: rgba(0, 0, 0, 0, 06);
}

.btn-light-outline {
  border-color: var(--color-white);
  color: var(--color-white);
}

.btn-white {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.btn-green {
  color: #008248;
  border: 1px solid #008248;
  padding: 0.3rem 1rem;
  font-weight: bold;
}

/* Utilities */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* Margin and Padding */
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 5rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.py-5 {
  padding: 5rem 0;
}

/* Hamburger Menu Icon */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.2s ease;
  display: block;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 20%;
  right: 0;
  width: 24px;
  height: 5px;
  background: var(--color-black);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-top {
  transform: translateY(-7px);
}
.hamburger-bottom {
  transform: translateY(7px);
}
.open .hamburger-top {
  transform: rotate(45deg);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg);
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 97px;
  right: 0;
  background-color: var(--color-white);
  height: 100%;
  width: 80%;
  z-index: 2;
  transform: translateX(100%);
  line-height: 3;
  padding: 2rem 1.5rem;
  transition: 0.4s ease;
}

.mobile-menu.show {
  transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
}
.mobile-menu img {
  width: 20px;
  height: 20px;
  display: inline;
  margin-right: 0.5rem;
}
.mobile-menu li {
  text-transform: capitalize;
}

.mobile-menu > ul {
  border-bottom: 1px solid #999;
  padding-bottom: 1rem;
}

.mobile-menu-bottom {
  margin-top: 2rem;
}

.mobile-menu-bottom .btn,
.mobile-menu-bottom a {
  font-size: 0.8rem;
}
/* Main nav */
.main-header {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

#logo {
  height: 41px;
  width: 41px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-nav li {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.75rem;
  white-space: nowrap;
}

.main-nav .nav-links-right li {
  text-transform: capitalize;
  font-size: 0.8rem;
}

/* .main-nav .nav-links-right .btn-light {
  padding: 0.5rem 1rem;
} */
.main-nav .nav-links-right span {
  position: relative;
  bottom: 0.2rem;
}
.main-nav .nav-links-right .pin {
  width: 1.2rem;
  display: inline-block;
  margin-right: 0.3rem;
  transition: 0.5s ease;
}

.main-nav .pin:hover {
  opacity: 0.5;
}
.main-nav a {
  transition: 0.4s ease;
}

.main-nav a:hover {
  color: var(--color-primary);
}

.main-nav .nav-links-right li:nth-child(2):hover {
  /* background: rgba(0, 0, 0, 0.06); */
  color: #000;
}
.main-nav .nav-links-right .join-now:hover {
  opacity: 0.7;
  color: var(--color-white);
}

.main-nav .nav-links-left,
.main-nav .nav-links-right {
  display: none;
}
/* Middle section */
.sticky-banner {
  width: 100%;
  position: relative;
}

.sticky-banner a {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  z-index: 200;
  white-space: nowrap;
}

.sticky-banner img {
  object-fit: contain;
  object-position: center;
}
.middle {
  padding: 2rem 1.5rem;
  background-color: rgb(236, 236, 236);
}

.middle p {
  margin: 1.5rem 0;
  font-size: 0.8rem;
  color: #6c6c6c;
  line-height: 1.3;
}

.middle h3 {
  color: var(--color-black);
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.middle .text {
  background-color: var(--color-white);
  padding: 1rem 1.5rem;
  height: 40vh;
}

.grid p {
  margin: 0.5rem 0 0.8rem;
}
/* footer */
/* Accordion */
.accordion .flex {
  flex-direction: row;
  justify-content: space-between;
}
.accordion .arrow {
  width: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  transition: 0.4s ease;
}

.accordion .arrow:hover {
  background-color: #ccc;
}

.accordion-header {
  cursor: pointer;
}

.accordion-header h2 {
  font-size: 1.3rem;
  font-weight: 400;
}
.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s;
}

.accordion-header.show + .accordion-content {
  max-height: 100vh;
  opacity: 1;
}

.accordion-header.show > .arrow {
  transform: rotate(-180deg);
}
.accordion-content li {
  line-height: 3;
  font-size: 0.8rem;
  color: #555;
  font-weight: bold;
  transition: 1s ease;
  cursor: pointer;
}
.accordion-content li:hover {
  color: var(--color-black);
}

.accordion:last-child {
  border-bottom: 1px solid #ccc;
}

/* Social Icon */

.social {
  align-items: flex-start;
  padding-top: 2rem;
}
.social-img {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.social img {
  width: 2rem;
  margin-right: 1rem;
}

.social ul {
  padding: 1.5rem 0;
}
.social li {
  line-height: 3;
  font-size: 0.8rem;
  font-weight: bold;
}

.social a {
  transition: 0.4s ease;
}
.social a:hover {
  color: #999;
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
  .hamburger,
  .mobile-menu {
    display: none;
  }
  #logo {
    height: 51px;
    width: 51px;
    margin-right: 2rem;
  }

  /* .main-header .container {
    display: flex;
    justify-content: space-between;
  } */
  .main-nav {
    display: flex;
    flex-direction: row;
  }
  .main-nav ul {
    display: flex;
    flex-direction: row;
  }

  .main-nav li {
    padding: 0.7rem;
  }

  .main-nav .nav-links-left,
  .main-nav .nav-links-right {
    display: inline-flex;
  }

  .main-nav .nav-links-right {
    margin-left: auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  .sticky-banner img {
    height: 100vh;
    object-fit: cover;
  }
  .holiday-banner,
  .middle {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .grid img {
    width: 100%;
  }

  .main-flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .middle {
    padding: 2rem 3rem;
  }
  .sticky-banner {
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 150%;
    height: 100vh;
  }
}
